<section class="item">
    <header>
        <img src="../../../../assets/movies.png">
        <h3>{{filmItem.title}}<br>({{ filmItem.original_title }})</h3>
    </header>
    <section>
        <figure>
            <img src="{{urlImg}}">
            <figcaption>{{filmItem.release_date | slice:0:4}}, {{ genres.join(', ') }}</figcaption>
        </figure>
        <p class="description">{{filmItem.overview | slice:0:130}}...</p>
    </section>
    <footer>
        <!-- <button class="material-icons" [ngClass]="{'favourite': filmItem.chosen}" (click)="chooseFavorite(filmItem.id)">star</button> -->
    </footer>
</section>
