

:host{
    width: var(--width-item);
    margin: 0.8rem 0;
    transition: all 0.3s ease;
}
:host:hover{ 
    /* transform: scale(1.05) */
}
:host:hover p{
    display: block;
}
p{
    display: none;
}

section{
    width: inherit;
    background-color: white;
}

header{
    /* height: 4.5rem; */
    padding: 0.3rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
header>img{
    width: 2rem;
}
header>h3{
    padding-left: 0.5rem;
    font-size: inherit;
}



figure{
    width: inherit;
}

figure>img{
    width: var(--width-item);
    height: calc((var(--width-item) / 2) * 3);
}
figcaption{
    padding: 0.2rem 1rem;
    font-size: 0.85rem;
    color: #8a8a8a;
}

p{
    height: 7rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}



.item{
    box-shadow: 0rem 0rem 0.5rem #cccccc;
}

footer{
    padding: 0 1rem 0.5rem;
}

.favourite{
    color: #FFD700;
}