:host{
    margin: 1rem;
    transition: all 0.3s ease;
}
:host:hover{ 
    transform: scale(1.03)
}

header{
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    align-items: center
}
header>img{
    width: 2rem;
}
header>h3{
    padding: 0.5rem 0 0 0.5rem;
}

section>p{
    height: 6rem;
    padding: 0.5rem 1rem;
}

.item, section>img{
    width: 20rem;
}
.item{
    box-shadow: 0rem 0rem 0.5rem #cccccc;
}

footer{
    padding: 0 1rem 0.5rem;
}

.favourite{
    color: #FFD700;
}