@import "~@angular/material/prebuilt-themes/indigo-pink.css";


:root{
    --width-item: 22rem;
}

*{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}


input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem 0;
  text-indent: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

