header{
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    align-items: center
}
header>img{
    width: 2rem;
}
header>h3{
    padding: 0.5rem 0 0 0.5rem;
}

section>p{
    height: 5rem;
    margin: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item, section>img{
    width: 20rem;
}
.item{
    box-shadow: 0.2rem 0.2rem 0.5rem #cccccc;
}